.icons-navbar {
  height: 150px;
  display: flex;
  justify-content: space-between;
}
.file-navbar {
  background-color: rgb(170, 217, 233);
}
.contenedor-link-navbar{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2px;
  margin-left: auto;
}
.place-order{
  background-color: rgb(170, 217, 233);
}
.container-photo {
  background-image: url("./assets/img/Portada.jpeg");
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}
.text-photo {
  color: rgb(170, 217, 233);
  margin-left: 100px;
  margin-top: 100px;
}
.btn-menu {
  background-color: rgb(170, 217, 233);
  margin-left: 100px;
  margin-top: 200px;
}
.Carousel-array {
  width: 100vw;
  padding: 0;
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}
.my-product {
  border-radius: 5px;
  min-width: 350px;
  height: 450px;
}
.round-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.information-zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 30px;
}
.image-restaurant {
  height: 350px;
  width: 350px;
  border-radius: 50%;
}
.quote-icons {
  font-size: 50px;
}

.imagen-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 10px;
}
.image-design {
  width: 300px;
  height: 500px;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
}
.container-front {
  background-image: url("./assets/img/Front.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 500px;
  position: relative;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.content-text{
  background-color: rgba(255, 255, 255, 0.266);
  border-radius: 20px;
  display: flex;
  min-height: 200px;
  backdrop-filter: blur(10px);
  box-shadow:0 3px 30px rgba(0, 0, 0, 0.1);
  color: black;

}
.content-text p{
  margin: 10px;
}
.information-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 80px;
}
.information-contacts-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 150px;
}
.information-contacts-rigth {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 200px;
}
.info-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
  margin-left: 100px;
}
.container-footer {
  background-color: rgb(170, 217, 233);
  height: 200px;
  margin-bottom: 10px;
}
.text-footer {
  margin: 0px;
}
.info-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.image-restaurant {
  height: 350px;
  width: 350px;
  border-radius: 50%;
}
.quote-icons {
  font-size: 50px;
}

.emoticones {
  width: 40px;
  height: 40px;
  background-color: #3d8f99;
}

.imagenes-pizza{
  height: 200px;
  object-fit: cover;
}